<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomePageServ</servlet-name>
        <servlet-class>HomePageServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchResult</servlet-name>
        <servlet-class>SearchResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOfEmployees</servlet-name>
        <servlet-class>ListOfEmployees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMovie</servlet-name>
        <servlet-class>DeleteMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryAllCustomers</servlet-name>
        <servlet-class>QueryAllCustomers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployee</servlet-name>
        <servlet-class>AddEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomer</servlet-name>
        <servlet-class>AddCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerHoldMovies</servlet-name>
        <servlet-class>CustomerHoldMovies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMovie</servlet-name>
        <servlet-class>AddMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentalHistory</servlet-name>
        <servlet-class>RentalHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BestSellMovie</servlet-name>
        <servlet-class>BestSellMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailingList</servlet-name>
        <servlet-class>MailingList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopEmployee</servlet-name>
        <servlet-class>TopEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostRentedMovies</servlet-name>
        <servlet-class>MostRentedMovies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostActivelyRentedMovies</servlet-name>
        <servlet-class>MostActivelyRentedMovies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostActiveCustomers</servlet-name>
        <servlet-class>MostActiveCustomers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentIt</servlet-name>
        <servlet-class>RentIt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnIt</servlet-name>
        <servlet-class>ReturnIt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEmployeeServlet</servlet-name>
        <servlet-class>EditEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEmployeeTransaction</servlet-name>
        <servlet-class>EditEmployeeTransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMovieServlet</servlet-name>
        <servlet-class>EditMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMovieTransaction</servlet-name>
        <servlet-class>EditMovieTransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesReport</servlet-name>
        <servlet-class>SalesReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountSetting</servlet-name>
        <servlet-class>AccountSetting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessManagerSearch</servlet-name>
        <servlet-class>ProcessManagerSearch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePageServ</servlet-name>
        <url-pattern>/HomePageServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchResult</servlet-name>
        <url-pattern>/SearchResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOfEmployees</servlet-name>
        <url-pattern>/ListOfEmployees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMovie</servlet-name>
        <url-pattern>/DeleteMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryAllCustomers</servlet-name>
        <url-pattern>/QueryAllCustomers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/AddEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomer</servlet-name>
        <url-pattern>/AddCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerHoldMovies</servlet-name>
        <url-pattern>/CustomerHoldMovies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMovie</servlet-name>
        <url-pattern>/AddMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentalHistory</servlet-name>
        <url-pattern>/RentalHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BestSellMovie</servlet-name>
        <url-pattern>/BestSellMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailingList</servlet-name>
        <url-pattern>/MailingList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopEmployee</servlet-name>
        <url-pattern>/TopEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostRentedMovies</servlet-name>
        <url-pattern>/MostRentedMovies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostActivelyRentedMovies</servlet-name>
        <url-pattern>/MostActivelyRentedMovies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostActiveCustomers</servlet-name>
        <url-pattern>/MostActiveCustomers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentIt</servlet-name>
        <url-pattern>/RentIt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnIt</servlet-name>
        <url-pattern>/ReturnIt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmployeeServlet</servlet-name>
        <url-pattern>/EditEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmployeeTransaction</servlet-name>
        <url-pattern>/EditEmployeeTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMovieServlet</servlet-name>
        <url-pattern>/EditMovieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMovieTransaction</servlet-name>
        <url-pattern>/EditMovieTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesReport</servlet-name>
        <url-pattern>/SalesReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountSetting</servlet-name>
        <url-pattern>/AccountSetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessManagerSearch</servlet-name>
        <url-pattern>/ProcessManagerSearch</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
